# Firebase
.firebase/
.firebaserc

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gatsby
.cache/
public/

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
